<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catwork.mapper.PersonMapper">

	<insert id="insert">		
		INSERT ALL
		INTO user_tb (user_idx,id, pwd ,email,type)
		VALUES((SELECT MAX(NVL(user_idx,0)+1) FROM USER_TB),#{id},#{pwd},#{email},2)		
		INTO person_tb (per_idx,user_idx,name,phone,zip_code,address,social_num,created)
		VALUES
		((SELECT MAX(NVL(per_idx,0)+1) FROM PERSON_TB),(SELECT MAX(NVL(user_idx,0))+1 FROM user_tb),
			#{name},#{phone},#{zip_code},#{address},#{social_num},sysdate)
		SELECT *
		FROM DUAL
	</insert>
	
	<select id="getUser_idx">
		SELECT USER_IDX FROM USER_TB WHERE ID = #{id}
	</select>

</mapper>
