<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catwork.mapper.ResumeMapper">  

<insert id="insertResume">
	INSERT INTO RESUME_TB(
		RESUME_IDX,
		USER_IDX,
		TITLE,
		IMAGE,
		LINK,
		INTRO,
		TYPE
	)
	VALUES(
		(SELECT MAX(NVL(RESUME_IDX,0)+1)
		FROM   RESUME_TB),
		#{user_idx},
		#{title},
		#{image},
		#{link},
		#{intro},
		#{type}
	)
</insert>

	<insert id="insertResumeSkill">
      <foreach collection="list" item="resumeSkill"
           index      = "i"  
           open       = "INSERT ALL"    
           close      = "SELECT * FROM DUAL"
           separator  = " " >
           INTO  RESUME_SKILL_TB VALUES (
                GET_FILENUM(),
                (SELECT MAX(NVL(RESUME_IDX,0))FROM   RESUME_TB),
                #{ resumeSkill.skill_idx  }
           )
      </foreach>
   
   </insert>
   
   <select id="getView">
		SELECT 
			R.RESUME_IDX,
			R.USER_IDX,
			R.TITLE,
			R.IMAGE,
			R.LINK,
			R.INTRO,
			R.CREATED,
			R.TYPE
			S.
		FROM RESUME_TB R JOIN RESUME_SKILL_TB S
		ON   RESUME_	
   
   </select>
   



</mapper>