<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catwork.mapper.UserMapper">
	
	<!-- 기업회원 로그인 -->
	<select id="login1">
		SELECT id,pwd
		FROM user_tb
		WHERE id=#{arg0} AND pwd=#{arg1} 
			  And (type=1 OR type=0) 
	</select>
	
	<!-- 개인회원 로그인 -->
	<select id="login2">
		SELECT id,pwd
		FROM user_tb
		WHERE id=#{arg0} AND pwd=#{arg1} 
			  And (type=2 OR type=0)
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM   USER_TB
		WHERE  ID = #{arg0}
	</select>
	
	<!-- 댓글용 user_idx 가져오기 -->
	<select id="getUser_idx">
		SELECT USER_IDX
		FROM USER_TB
		WHERE ID=#{id} 
	</select>

</mapper>
